
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	font-family: 'Raleway', sans-serif;
}

.navbar-collapse{
	justify-content: flex-end;
}

.header{
	background: url(https://s3.gaming-cdn.com/images/products/4211/orig/grand-theft-auto-v-premium-online-edition-premium-online-edition-pc-game-rockstar-cover.jpg?v=1652713683);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgb(169 162 162 / 35%);
}

.overlay div{
	color: white;
	position: absolute;
	top: 30%;
	min-width: 100%;
}

.overlay div h1{
	letter-spacing: 8px;
	text-transform: uppercase;
}

.about, .trade_in .team{
	padding-top: 4em;
	padding-bottom: 4em;
}

.about h1, .cars h1, .trade_in h1 .team h1{
	margin-bottom: 2rem;
}

.about div[class|="col"]{
	padding: 0 3em;
}

.about .row .text-center{
	border-right: 2px solid black ;
}

.cars, .products .feedback{ 
	background: #353a40;
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;
}

.products .card{
	color: black;
}

.team img{
	border: 5px solid black;
}

.teamDesc{
	background: black;
	color: white;
}

.teamDesc span{
	font-size: 0.8em;
	color: lightgrey;
}

.feedback .text-center{
	align-self: center;
}